.root {
  border: solid 1px white;
  padding: 40px;
  margin-top: 10px;
  border-radius: 15px;
  background: linear-gradient(60deg, rgb(227, 175, 4), rgb(216, 16, 150));
  transition: transform 0.5s ease;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 10px;
  align-items: center;
}

.root:hover {
  transform: scale(110%);
}

@media (max-width: 500px) {
  .root {
    padding: 30px;
  }
  .content{
    flex-direction: column;
  }
}


